<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info page</title>
</head>
    <body>
        {{ include('navigation/navigation.html.twig') }}
        if you have any questions consider asking by mail:
        <br>
        <a href="mailto:savelyevad@gmail.com">savelyevad@gmail.com</a>
    </body>
</html>
