<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info page</title>
</head>
    <body>
    {{ include('navigation/navigation.html.twig') }}
        this site is a guest book
        <br>
        you can add new records as many times as you want
    </body>
</html>
